body
{
    margin: 0;
    background-color: rgb(245, 245, 244);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
     background-image: url("img/wood2.jpeg") ;
     background-size:cover;
     background-repeat:no-repeat;
    background-attachment: fixed;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav
{
    text-align: center;
}

.menu
{
    left: 0px;
    right: 0px;
    position: relative;
    width: auto;
    text-align: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    /* background-image: url("img/olcha.jpg"); */
    /* border: 10px; */
   


}
.sticky
{
    width: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    /* background-image: url("img/olcha.jpg"); */
}
 

a.tilelink
{
    color: #f8e9e9;
    text-decoration: none;
}
.menu > li
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    
}
h1.logo
{ 
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
    margin-right: 100px; 
    font-size: 40px;
}
.menu a
{
    color: white;
    text-decoration: none;
}
.menu a:hover
{
    color: rgb(182, 102, 102);
    font-weight: bold;
}
.shop
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.model
{
    margin-top: 49px;
}
h1
{
font-size: 36px;
font-weight: 400;
margin-bottom: 10px;
}
.product
{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0 5px 5px 5px;
    width: 460px;
    
    
}
figure {
    
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
}
figure img
{
    transition: all 0.5s ease-in-out;
        width: 480px;
        height: 333px;
        opacity: 1;
        -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    /* transition: opacity 0.5s; */

}
figure img:hover
{
       opacity: 1;
       -webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

}
figcaption {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    line-height: 1.5;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: Left;
    color: #fff;
    opacity: 0.7;
}
.fig-title {
    font-family: 'Montserrat';
    font-weight: 700;
}
.fig-description {
    font-family:sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}
.product a
{
    opacity: 90%;
    
}
.product a:hover
{
    opacity: 100%;
}

figure
{
    margin: 8px;
    padding: 0;
    
}
.visualhidden {
    visibility: hidden;
}
#slider
{
   
    margin-top: 10px;
    margin-bottom: 20px;
    width: 960px;
    height: 420px;
    position:relative;
    /* background-image: url("img/7.jpg"); */
    border-radius: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}
#slider img
{
    border-radius: 20px;
}


figcaption
{
    margin-top: 8px;
padding: 0;
position:absolute;
}
.drewno
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-bottom: 10px;

    
}
.rodzajdr
{
    margin-top: 5px;
    border-radius: 5px; 
    width: 460px;
    display: inline-block;

   
} 
.drewnoimg
{
    margin-left: 20px;
    margin-top: 20px;
    /* margin-right: 20px; */
    display: inline-block;
    width: 160px;
    

}
.drewnoimg img
{
    width: 140px;
    height: 180px;
}
.drewnotxt
{
    margin-top: 20px;
    display: inline-block;
    width: 180px;
    /* height: 180px; */
    text-align: left;

    
}
.contact
{
    width: 960px;
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.contact p
{
    margin-bottom: 50px;
}

.bluebutton
{
    
    background-color: rgb(0, 140, 255);
    padding: 15px;
    color: cornsilk;
    font-size: 19px;
    text-decoration: none;
    border-radius: 5px;
    min-width: 300px;
}
.bluebutton:hover
{
    background-color: rgb(0, 26, 255);
}
.socials
{
    width: 960px;
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.yt
{
    margin: 30px;
    margin-left: 70px;
    width: 160px;
    height: 160px;
    background-color: #d94348;
    float:  left;
    cursor: pointer;
	filter: brightness(90%);
	transition: all .3s ease-in-out;
}
.yt:hover 
{
    filter: brightness(100%);
    border-radius: 4px;

}
.fb
{
    margin: 30px;
    width: 160px;
    height: 160px;
    background-color: #4668b3;
    float:  left;
    cursor: pointer;
	filter: brightness(90%);
	transition: all .3s ease-in-out;
}
.fb:hover
{
    filter: brightness(100%);
    border-radius: 4px;

}
.insta
{
    margin: 30px;
    width: 160px;
    height: 160px;
    background-color: #c72dcc;
    float:  left;
    cursor: pointer;
	filter: brightness(90%);
	transition: all .3s ease-in-out;
}
.insta:hover 
{
    filter: brightness(100%);
    border-radius: 4px;

}
.gp
{
    margin: 30px;
    width: 160px;
    height: 160px;
    background-color: #d94348;
    float:  left;
    cursor: pointer;
	filter: brightness(90%);
	transition: all .3s ease-in-out;
}
.gp:hover 
{
    filter: brightness(100%);
    border-radius: 4px;

}
.info
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}
.box {
    background: #000000;
    border-radius: 0px 4px 4px 0px;
    left: -240px;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 100px;
    transition: transform 0.4s;
    width: 235px;
}

.box:hover {
    transform: translateX(240px);
}

.box .box__content {
    background: #fff;
    min-height: 200px;
    padding: 10px;
    position: relative;
}

.box .box__title {
    background: #fff;
    border: solid #000000;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 4px 4px;
    cursor: default;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -74px;
    text-align: center;
    top: 70px;
    transform: rotate(-90deg);
    width: 106px;
}




